@model IEnumerable<IDQ_0__Personal_Secretary.Models.DataBase.Entities.Project>
@{
    ViewData["Title"] = "IDQ 0. Projects";
}
@section HEAD
{
    <link rel="stylesheet" href="~/css/view/ProjectListStyle.css">
}
@foreach (var project in Model)
{
    <div class="project lvl_2_container">
        <div class="pr_header">
            <div class="icon-container"><i class="fas fa-project-diagram"></i></div>
            <div class="header-container"><h2>@project.Name</h2></div>
            <div class="options-container">
                <div class="options">
                    <span><i class="fas fa-ellipsis-h"></i></span>
                    <span class="button">Add files</span>
                    <span class="button">Delete</span>
                </div>
            </div>
        </div>
        <div class="pr_contant">
            <div class="priority">
                <div class="article_information">
                    <h3><div class="text_article">Priority:</div><div class="priority_value">@project.Priority</div></h3>
                </div>
            </div>
            <div class="time">
                <div class="article_information">
                    <h3><div class="text_article">Time:</div><div>40 days</div><div>20.12.2018</div></h3>
                </div>
            </div>
            <div class="status">
                <div class="article_information">
                    <h3><div class="text_article">Status:</div><div>Active</div></h3>
                </div>
            </div>
            <div class="targets">
                <h3>Targets</h3>
                <div class="check_list">
                    @foreach (var target in project.Targets)
                    {
                        <label class="checkbox">
                            <input type="checkbox" class="check" id="@string.Format("chb{0}",target.Id)" checked="@target.IsAchieved" />
                            <label for="@string.Format("chb{0}",target.Id)"><span></span></label>
                            <div class="check_text">@target.Name</div>
                        </label>
                    }
                </div>
            </div>
            <div class="description">
                <h3>Description</h3>
                <div class="text">
                    <b>MARKDOWN TEXT</b><br><br>
                    <p>@project.Description</p>
                </div>
            </div>
        </div>
    </div>
}

