@model IEnumerable<IDQ_0__Personal_Secretary.Models.DataBase.Entities.Project>
@{
    ViewData["Title"] = "IDQ 0. Projects";
}
@section HEAD
    {
    <link rel="stylesheet" href="~/css/view/ProjectListStyle.css">
}
@section SideBar
{
    <span class="button"><a href="~/Project/addProject">New project</a></span>
}
@foreach (var project in Model)
{
    <div class="project lvl_2_container">
        <div class="pr_header">
            <div class="icon-container"><i class="fas fa-project-diagram"></i></div>
            <div class="header-container"><h2>@project.Name</h2></div>
            <div class="options-container">
                <div class="options">
                    <span><i class="fas fa-ellipsis-h"></i></span>
                    <span class="button"><a href="#">Add Target</a></span>
                    <span class="button"><a href="~/Project/updateProject?id=@project.Id">Update</a></span>
                    <span class="button"><a href="~/Project/deleteProject?id=@project.Id">Delete</a></span>
                </div>
            </div>
        </div>
        <div class="pr_contant">
            <div class="priority">
                <div class="article_information">
                    <h3><div class="text_article">Priority:</div><div class="priority_value">@project.Priority</div></h3>
                </div>
            </div>
            <div class="targets">
                <h3>Targets</h3>
                <div class="check_list">
                    @foreach (var target in project.Targets)
                    {
                        <label class="checkbox">
                            <input type="checkbox" class="check" id="@string.Format("chb{0}",target.Id)" checked="@target.IsAchieved" />
                            <label for="@string.Format("chb{0}",target.Id)"><span></span></label>
                            <div class="check_text">@target.Name</div>
                        </label>
                    }
                </div>
            </div>
        </div>
    </div>
}

